pandas
numpy
google-cloud-aiplatform
google-auth
langchain
python-dotenv
rogue
scikit-learn
python-Levenshtein
fuzzywuzzy
faiss-cpu
beautifulsoup4
pypdf
chromadb
pillow
google-generativeai
db-dtypes
google-cloud-storage
google-cloud-bigquery